<style>
body {
font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,p {
font-family: "Poppins", sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input[type=submit] {
	font-family: "Poppins", sans-serif;
        background-color: #2BBC97;
        border: none;
        color: #fff;
        padding: 10px 24px;
        text-decoration: none;
        margin: 2px 2px;
        cursor: pointer;
      }
</style>